---
- name: Playbook to configure ansible controller post installation
  hosts: localhost
  connection: local
  gather_facts: false
  collections:
    - ansible.platform

  vars_files:
    - "{{ playbook_dir }}/../../vaults/{{ env }}-vault.yml"

  module_defaults:
    ansible.platform.team:
      aap_hostname: "{{ controller_hostname }}"
      aap_username: "{{ controller_username }}"
      aap_password: "{{ controller_password }}"
      aap_validate_certs: false

    ansible.platform.token:
      aap_hostname: "{{ controller_hostname }}"
      aap_username: "{{ controller_username }}"
      aap_password: "{{ controller_password }}"
      aap_validate_certs: false

  pre_tasks:
    - name: Include vars from controller_configs directory
      include_vars:
        dir: ../../configs
        files_matching: teams_config.yml
        extensions: ["yml"]

#    - name: Create a new token using username/password
#      ansible.platform.token:
#        description: '{{ token_description| default(omit) }}'
#        scope: "write"
#        state: present

  tasks:
    - name: Create Team
      ansible.platform.team:
        name: "{{ __controller_teams_accounts_item.name | default(__controller_teams_accounts.name) | mandatory }}"
        description: "{{ __controller_teams_accounts_item.description | default(__controller_teams_accounts_item.description) | mandatory }}"
        organization: "{{ __controller_teams_accounts_item.organization | default(__controller_teams_accounts_item.organization) | mandatory }}"
      loop: "{{ users if teams is defined else controller_teams_accounts }}"
      loop_control:
        loop_var: __controller_teams_accounts_item
