---
- name: Create vmware host with bootdisk
  hosts: "{{ targeted_host| default('localhost') }}"
  gather_facts: false

  vars:
    notify_via_telegram: true
    os_major: "{{ os_major | default('9') }}"

  pre_tasks:
    - name: Set platform/version/env specific variables
      include_vars: "{{ item }}"
      loop:
        - "{{ playbook_dir }}/../../../vars/RedHat_{{ os_major }}.yml"
      when: item is file

    - name: Set login/env specific variables
      include_vars: "{{ __vars_file }}"
      loop:
        - "satellite-{{ hostvars[inventory_hostname].env }}.yml"
      vars:
        __vars_file: "{{ playbook_dir }}/../../../vaults/{{ hostvars[inventory_hostname].env }}-vault.yml"
      when: __vars_file is file

    - name: Set vm_info
      ansible.builtin.debug:
        msg: |
             'Hostgroup': {{ hg_name }},
             'Network': {{ net }},
             'Ptable': {{ ptable }},
             'OS': {{ os }},
             'Kickstart_repository': {{ ks }},
             'Content_view': {{ cv }},
             'Content_source': {{ capsule_server }}

  tasks:
    - name: Create host(s)
      block:
        - name: Create host(s) in vSphere
          redhat.satellite.host:
            username: "{{ satellite_username | default(omit) }}"
            password: "{{ satellite_password | default(omit) }}"
            server_url: "{{ satellite_server_url | default(omit) }}"
            location: "{{ satellite_location }}"
            organization: "{{ satellite_organization }}"
            validate_certs: "{{ satellite_validate_certs | default(omit) }}"
            name: "{{ vm_name | default(lookup('community.general.random_pet'), true) ~ (vm_name is defined and num_instances | int > 1 )|ternary('-' + item, '') ~ '.' ~ domain_name }}"
            state: present
            build: true
            hostgroup: "{{ hg_name }}"
            compute_resource: "VMware"
            compute_profile: "{{ compute_profile | default('ESX Medium Generic') }}"
            compute_attributes:
              start: "1"
            ptable: "{{ ptable }}"
            provision_method: bootdisk
            operatingsystem: "{{ os }}"
            kickstart_repository: "{{ ks }}"
            subnet: "APPS"
            content_source: "{{ capsule_server }}"
            content_view: "{{ cv }}"
            lifecycle_environment: "LAB"
          register: output
          with_sequence: start=1 end="{{ num_instances | default(1) }}"

        - name: Set vms list
          set_fact:
            vms: "{{ output | community.general.json_query('results[*].entity.hosts[*].name') | flatten }}"

        - name: Print new host(s) fqdn
          ansible.builtin.debug:
            msg: |-
              "{{ item }}"
          loop: "{{ vms | flatten(levels=1) }}"

        - name: Create a VM folder on given datacenter
          community.vmware.vcenter_folder:
            hostname: '{{ vcenter_hostname }}'
            username: '{{ vcenter_username }}'
            password: '{{ vcenter_password }}'
            datacenter: "{{ vcenter_datacenter }}"
            folder_name: "RHEL{{ item }}"
            validate_certs: false
            folder_type: vm
            parent_folder: KNA
            state: present
          with_items:
            - 8
            - 9
            - 10
          register: vm_folder_creation_result
          delegate_to: localhost

        - name: Move vm to corresponding folder
          community.vmware.vmware_guest_move:
            hostname: "{{ vcenter_hostname }}"
            username: "{{ vcenter_username }}"
            password: "{{ vcenter_password }}"
            datacenter: "{{ vcenter_datacenter }}"
            name: "{{ item }}"
            dest_folder: "/DC1/vm/KNA/RHEL{{ os_major }}"
            validate_certs: false
          loop: "{{ vms | flatten(levels=1) }}"
          delegate_to: localhost

        - name: Notify via telegram
          community.general.telegram:
            token: "{{ pinguobot_token }}"
            api_args:
              chat_id: "{{ pinguobot_chatid }}"
              text: "{{ msg }}"
              parse_mode: "markdown"
              disable_web_page_preview: true
              disable_notification: false
          when: notify_via_telegram | bool
          vars:
            msg: "New RHEL{{ os_major }} VM: {{ output | community.general.json_query('results[*].entity.hosts[*].name') | join('') }} deployed on VMware"
