---
- name: Sync PAH EE registry
  hosts: "{{ targeted_host| default('localhost') }}"
  gather_facts: false
  collections:
    - infra.ah_configuration

  vars_files:
    - "{{ playbook_dir }}/../../vaults/{{ hostvars[inventory_hostname].env }}-vault.yml"

  vars:
    ah_host: "{{ vaulted_ah_host }}"
    ah_username: "{{ vaulted_ee_base_registry_username }}"
    ah_password: "{{ vaulted_ee_base_registry_password }}"
    ah_validate_certs: false 
    ah_configuration_async_retries: 1200
    ah_configuration_async_delay: 10 
    ah_configuration_async_timeout: 300
    ah_ee_registries:
      - name: "Red Hat Registry"
        wait: true
        sync: true
    
  pre_tasks:

  roles:
    - {role: ee_registry_sync }
...
