---
- name: Sync PAH repositories
  hosts: "{{ targeted_host| default('localhost') }}"
  gather_facts: false
  collections:
    - infra.ah_configuration

  vars_files:
    - "{{ playbook_dir }}/../../vaults/{{ env }}-vault.yml"

  vars:
    ah_configuration_collection_repository_sync_async_retries: 1200
    ah_collection_repositories:
      - name: rh-certified
        wait: true
        timeout: 1200
      - name: community
        wait: true
        timeout: 1200
    
  pre_tasks:
    - name: Create a new token using controller username/password
      ansible.controller.token:
        description: 'admin token for pah repositories sync'
        scope: "write"
        state: present
        validate_certs: false
        controller_host: "{{ controller_hostname }}"
        controller_username: "{{ controller_username }}"
        controller_password: "{{ controller_password }}"

  roles:
    - {role: collection_repository_sync }
...
